#footer {
  padding: 5%;
  background-color: rgb(34, 34, 34);
  color: rgb(153, 153, 153);
}

#allContacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ul{
  position: relative;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: auto;
  right: 250PX;
}
.ul li{
  justify-content: center;
  padding: 20px;
  justify-self: center;
  /* margin: auto; */
  color: white;
}
h2 {
  color: whitesmoke;
}

.gallery > .row > .col {
  /* height: 100px; */
  aspect-ratio: 1;
  background-size: cover;
  background-position: center;
}

#footer a {
  text-decoration: none;
  color: rgb(236, 29, 37);
}

#footer .gallery .col {
  padding: 0 !important;
}
#footer .gallery .col div {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(236, 29, 37);
  opacity: 0;
  transition: all 0.3s;
}

#footer .gallery .col div:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s;
}
/*  */
#ourMenu {
  margin: 30px auto;
  display: grid;
  gap: 20px;
  width: 75%;
  aspect-ratio: 1.6;
}
.p01 {
  grid-area: 1 / 1 / span 2 / span 1;
}
.p02 {
  grid-area: 1 / 2 / span 2 / span 1;    
  background-attachment: fixed;
}
.p03 {
  grid-area: 3 / 1 / span 1 / span 2;
}

.p04 {
  grid-area: 1 / 3 / span 1 / span 1;
}
.p05 {
  grid-area: 2 / 3 / span 1 / span 1;
}
.p06 {
  grid-area: 3 / 3 / span 1 / span 1;
}
#ourMenu > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100%;
  background-position: center;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

#ourMenu > div:hover {
  background-size: 110%;
  transition: all 0.3s ease-in-out;
}

#ourMenu .bt {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 24px;
  font-weight: bold;
  padding: 16px 24px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

#ourMenu .bt:hover {
  color: white;
  background-color: rgba(255, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
}



@media only screen and (max-width: 768px) {

  #ourMenu {
      margin: 30px auto;
      display: grid;
      gap: 20px;
      width: 95%;
      aspect-ratio: 0.4;
  }

  .p01 {
      grid-area: 1 / 1 / span 2 / span 1;
  }
  .p02 {
      grid-area: 1 / 2 / span 2 / span 1;
  }
  .p03 {
      grid-area: 3 / 1 / span 1 / span 2;
  }
  
  .p04 {
      grid-area: 4 / 1 / span 2 / span 2;
  }
  .p05 {
      grid-area: 6 / 1 / span 2 / span 2;
  }
  .p06 {
      grid-area: 8 / 1 / span 2 / span 2;
  }
}


@media only screen and (max-width: 576px) {

  #ourMenu {
      margin: 30px auto;
      display: grid;
      gap: 20px;
      width: 95%;
      aspect-ratio: 0.3;
  }

  .p01 {
      grid-area: 1 / 1 / span 3 / span 1;
  }
  .p02 {
      grid-area: 4 / 1 / span 3 / span 1;
  }
  .p03 {
      grid-area: 7 / 1 / span 1 / span 1;
  }
  
  .p04 {
      grid-area: 8 / 1 / span 2 / span 1;
  }
  .p05 {
      grid-area: 10 / 1 / span 2 / span 1;
  }
  .p06 {
      grid-area: 12 / 1 / span 2 / span 1;
  }
}